@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

nav{
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
    font-size: 20px;
    font-family: Inter, sans-serif;
}

.nav--logo_text, .nav--title {
    margin: 0;
    
}

nav > img{
    height: 40px;
    margin: 0;
}

.nav--logo_text{
    margin-right: auto;
    color: #61DAFB;
}
.nav--title {
    color: aliceblue;
}