@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: #E5E5E5;;
}

.my--app{
    width: 550px;
    margin: auto;
}

.header--block{
    background-color: #672280;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-family: 'Karla', sans-serif;
    padding: 15px;
    box-shadow: 0 4px 15px -2px gray;
    border-color: black;
    border-style: solid;
}

.header--logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -25px;
}

.header--img{
    width: 40px;
    display: block;
    margin-right: 10px;
}
.header--name{
    margin-left: 0;
    display: block;
    font-weight: 400;
    font-size: 25px;
    
}
.header--course{
    margin-right: -25px;
}

.form--block{
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
    padding: 20px;
    background-color: #fff;
}

.form--input{
    font-family: 'Karla', sans-serif;
    border-radius: 5px;
    border: 1px solid #d5d4d8;
    text-indent: 5px;
}

.form--button{
    grid-column: 1 / -1;
    font-family: 'Karla', sans-serif;
    background-color: #672280;
    color: white;
    font-weight: 500;
    font-size: 19px;
    cursor: pointer;
}

.form--meme{
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 40px;
    position: relative;
}

.form--meme-img{
    width: 70%;
}

.form--meme-text{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* align-items: center;
     */
     text-align: center;
    font-family: impact, sans-serif;
    font-size: 2em; 
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    margin: 15px 0; 
    padding: 5px;
    width: 80%;
}

.top{
    top:20px
}
.bottom{
    bottom: 40px;
}
