@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}
body{
    margin: 0;
    font-family: Inter, sans-serif;
    height: 100vh;
    background-color: #282D35;
}
nav{
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
    font-size: 20px;
    
}

.nav--logo_text, .nav--title {
    margin: 0;
    
}

nav > img{
    height: 40px;
    margin: 0;
}

.nav--logo_text{
    margin-right: auto;
    color: #61DAFB;
}
.nav--title {
    color: aliceblue;
}


main {
    padding: 40px 30px;
    color: white;
}

.main--title {
    margin: 0;
    letter-spacing: -0.05em;
}

.main--facts{
    margin-top: 40px;
}

.main--facts > li {
    line-height: 25px;
    padding-block: 10px;
    font-size: 20px;
}

.main--facts > li::marker {
    color: #61DAFB;
    font-size: 25px;
}